// Underscore to fix ordering issues with globbing
.o-input {
  width: 100%;

  border: none;
  border-radius: 0;

  background-color: transparent;
  background-image: linear-gradient(to right, $grey--800, $grey--500 60%, $color2--300 80%, $color2--600);
  background-size: 400% $stroke--b;
  background-repeat: repeat-x;
  background-position: left bottom;

  transition: color $duration--m, background $duration--m;

  padding: 0 0 .5rem;

  font-size: em(18);
  color: $grey--200;

  &:hover {
    background-position: center bottom;
  }

  @include placeholder {
    color: $grey--400;
  }

  &:focus {
    color: $color2--300;

    outline: 0;
    background-position: right bottom;
  }
}

.o-textarea {
  width: 100%;

  display: block;

  padding: 1em;
  border: none;
  border-radius: 0;

  background-color: $grey--900;

  background-image: linear-gradient(to right, $grey--800, $grey--500 60%, $color2--300 80%, $color2--600);
  background-size: 400% $stroke--b;
  background-repeat: repeat-x;
  background-position: left bottom;

  transition: color $duration--m, background $duration--m;

  font-size: em(18);
  color: $grey--200;

  resize: vertical;

  @include placeholder {
    color: $grey--400;
  }

  &:hover {
    background-position: center bottom;
  }

  &:focus {
    outline: none;

    color: $color2--300;
    background-position: right bottom;
    background-color: $color2--800;
  }
}

[class^="o-submit--"],
[class*=" o-submit--"] {
  display: inline-block;

  border-radius: $radius--b;

  font-weight: $font__sans--medium;
  text-transform: uppercase;
  letter-spacing: $tracking--b;

  fill: currentColor;

  cursor: pointer;
}

.o-submit--solid {
  padding: .8125em 1.375em;
  border: 0;

  color: white;
  background-color: $positive--500;

  &:hover {
    color: rgba(white, .75);
    background-color: $positive--400;
  }
}

.o-submit--outline {
  padding: .6875em 1.375em;
  border: $stroke--b solid currentColor;

  color: $positive--500;
  background-color: transparent;

  &:hover {
    color: $positive--400;
  }
}

.o-submit__icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;

  margin-right: .75em;
}

.o-radio {
  position: relative;

  cursor: pointer;

  color: $grey--400;

  &:hover {
    color: $grey--200;
  }
}
.o-radio__input {
  position: absolute;
  visibility: hidden;
}
.o-radio__circle {
  position: absolute;
  top: 0;
  left: 0;

  width: em(22);
  height: em(22);

  background-image: linear-gradient(to bottom right, $grey--800, $grey--700);
  border-radius: 50%;

  &:after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: em(18);
    height: em(18);

    background-color: white;
    border-radius: 50%;

    transform: translate(-50%, -50%);

    transition: transform $duration--b;
  }

  .o-radio:hover & {
    background-image: linear-gradient(to bottom right, $grey--700, $grey--600);
  }

  .o-radio__input:checked + & {
    background-image: linear-gradient(to bottom right, $color2--600, $color2--300);
  }
  :checked + &:after {
    transform: translate(-50%, -50%) scale(.5);
  }
}

.o-radio__content {
  display: table;
  width: 100%;

  padding-left: 2.375em;

  :checked + .o-radio__circle + & {
    color: $color2--300;
  }
}

.o-radio__text {
  display: table-cell;
}

.o-radio__title {
  font-size: em(18);
  font-weight: $font__sans--regular;
}
.o-radio__info {
  display: block;

  color: $grey--600;
}

.o-radio__aside {
  display: table-cell;

  text-align: right;
  white-space: nowrap;

  padding-left: .5em;
}

.o-radio__note {
  color: $positive--500;

  font-style: normal;
  font-weight: $font__sans--medium;
}
