.o-blox {
  @include media($tablet-up) {
    display: table;
    width: 100%;
  }
}

.o-blox__image {
  @include media($small) {
    height: 100vmin;
  }
  @include media($tablet-up) {
    display: table-cell;
    width: 50%;

    padding-bottom: 50%;
  }

  background-position: center;
  background-size: cover;
}

[class^="o-blox__content"],
[class*=" o-blox__content"] {
  @include media($tablet-up) {
    display: table-cell;
    width: 50%;
  }
}

.o-blox__content--black {
  color: white;
  background-color: $grey--000;

  a {
    @include link--white;

    border-bottom: $stroke--s solid;
  }
}

.o-blox__content--white {
  a {
    @include link--dark;

    border-bottom: $stroke--s solid;
  }
}

.o-blox__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media($tablet-up) {
    min-height: 50vmax;
  }
}

.o-blox__intro {
  @include add-wrap(square);

  @include collapse-children;
}

.o-blox__outro {
  @include add-wrap(square);
  @include collapse-children;

  padding-top: 0 !important;

  color: $grey--400;

  .o-blox__content--black & {
    color: $grey--700;
  }
}
