.o-blox {
  @include media($tablet-up) {
    display: table;
    width: 100%;
  }
}

.o-blox__image {
  position: relative;

  @include media($small) {
    height: 100vmin;
  }
  @include media($tablet-up) {
    display: table-cell;
    width: 50%;

    padding-bottom: 50%;
  }

  background-position: center;
  background-size: cover;
}

[class^="o-blox__content"],
[class*=" o-blox__content"] {
  @include media($tablet-up) {
    display: table-cell;
    width: 50%;
  }
}

.o-blox__content--black {
  color: white;
  background-color: $grey--000;

  a {
    @include link--white;

    border-bottom: $stroke--s solid;
  }
}

.o-blox__content--white {
  a {
    @include link--dark;

    border-bottom: $stroke--s solid;
  }
}

.o-blox__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media($tablet-up) {
    min-height: 50vmax;
  }
}

.o-blox__intro {
  @include add-wrap(square);

  @include collapse-children;

  p {
    font-size: em(18);

    @include media($laptop-up) {
      font-size: em(24);
      font-weight: $font__sans--light;
    }
  }
}

.o-blox__outro {
  @include add-wrap(square);
  @include collapse-children;

  padding-top: 0 !important;

  color: $grey--400;

  .o-blox__content--black & {
    color: $grey--600;
  }

  @include media($laptop-up) {
    font-size: em(18);
  }
}

.o-blox__list--normal {
  list-style-type: none;
  padding-left: 0;
  margin-top: -1em;
}

.o-blox__list--padded {
  position: relative;

  list-style-type: none;
  padding-left: em(62);
  margin-top: -1em;
}

.o-blox__item--inline {
  margin-top: 1em;

  display: inline-block;

  &:not(:last-child) {
    margin-right: 2.5em;
  }
}

.o-blox__strong {
  display: block;

  font-weight: $font__sans--regular;
}

.o-blox__portrait {
  position: absolute;
  left: 0;
  top: 1em;

  width: em(46);
  margin-right: .5em;

  border-radius: 50%;
}

.o-blox__abbr {
  display: inline-block;

  width: 1.75em;
}
