.o-bonus {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  list-style-type: none;

  padding: $stroke--s;
  @include margin(1.5em null);

  color: $positive--500;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;

    width: $stroke--b;

    background-color: white;
  }

  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.o-bonus__item {
  flex: 1 1 auto;

  text-align: center;

  @include padding(1em .5em);

  border: $stroke--b solid $positive--600;

  margin: -1px;
}

.o-bonus__text {
  font-weight: $font__sans--medium;
}

.o-bonus__icon {
  display: inline-block;

  line-height: 1;
  vertical-align: middle;

  margin-left: -.25em;
  margin-right: .75rem;

  stroke: currentColor;
}
