.o-bonus {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  list-style-type: none;

  padding: 0;
  // @include margin throws an error
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: -$stroke--s;
  margin-right: -$stroke--s;

  border-top: $stroke--s solid $positive--600;
  border-bottom: $stroke--s solid $positive--600;

  color: $positive--500;

  &:before, &:after {
    content: "";
    position: absolute;
    top: -$stroke--s;
    bottom: -$stroke--s;

    width: $stroke--s;

    background-color: white;
  }

  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.o-bonus__item {
  flex: 1 1 auto;

  text-align: center;

  @include padding(1em .5em);

  border: $stroke--s solid $positive--600;
}

.o-bonus__text {
  font-weight: $font__sans--medium;
}

.o-bonus__icon {
  display: inline-block;

  line-height: 1;
  vertical-align: middle;

  margin-left: -.25em;
  margin-right: .75rem;

  stroke: currentColor;
}
