.o-bread {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 1em;

  border-bottom: $stroke--b solid $grey--850;
}

.o-bread__crumb {
  @include media($tablet-up) {
    display: inline-block;
  }

  margin-right: .5em;

  &:last-child {
    margin-right: 0;
  }

  // Chevron
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    border-style: solid;
    border-color: $grey--700;
    border-width: $stroke--b $stroke--b 0 0;

    height: .75em;
    width: .75em;

    margin-right: 1em;

    transform: rotate(45deg);
  }

  &:first-child:before {
    border-color: transparent;

    @include media($tablet-up) {
      content: none;
    }
  }

  @include media($small) {
    margin-left: -.25em;
    margin-bottom: .25em;

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      display: none;
    }
    html:not(.bread--is-active) &:last-child:before {
      transform: rotate(135deg) translateX(-.375em);
    }

    .bread--is-active & {
      display: block;
    }
  }
}

.o-bread__link {
  stroke: currentColor;

  font-size: em(18);

  svg {
    vertical-align: middle;
  }
}

.o-bread__current {
  font-size: em(18);
  font-weight: $font__sans--medium;
  font-style: normal;
}

.o-bread__count {
  display: inline-block;

  vertical-align: middle;
  margin-left: 1.25em;

  font-size: em(14);

  color: $grey--500;

  @include media($small) {
    float: right;

    line-height: 1.75;
  }
}
