.o-cats {
  position: relative;

  margin-bottom: -1em;

  // Side gradients
  &:before, &:after {
    content: "";

    position: absolute;
    top: 0;
    bottom: 1em;
    z-index: 500;

    width: 2em;

    pointer-events: none;
  }

  @include media($tablet-up) {
    &:before, &:after {
      width: 3em;
    }
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}
.o-cats--light:before {
  background-image: linear-gradient(to right, white, rgba(white, 0));
}
.o-cats--light:after {
  background-image: linear-gradient(to left, white, rgba(white, 0));
}
.o-cats--dark:before {
  background-image: linear-gradient(to right, $grey--100, rgba($grey--100, 0));
}
.o-cats--dark:after {
  background-image: linear-gradient(to left, $grey--100, rgba($grey--100, 0));
}

.o-cats__list {
  list-style-type: none;
  @include margin(0 null);
  padding-left: 0;

  overflow: hidden;

  white-space: nowrap;

  // Divider line
  .o-cats--light &:after {
    content: "";

    position: absolute;
    top: 7.5em;
    left: 0;
    z-index: -1;

    width: 100%;

    border-bottom: $stroke--b solid $grey--800;
  }
}

.o-cats__item {
  display: inline-block;
  width: auto;

  text-align: center;

  @include padding(null 1em);

  &:first-child {
    @include padding(null 1.5em);
    margin-right: -.5em;
  }
  &:last-child {
    @include padding(null 1.5em);
    margin-left: -.5em;
  }

  @include media($tablet-up) {
    @include padding(null 1.5em);
    
    &:first-child {
      @include padding(null 3em);
      margin-right: -1.5em;
    }
    &:last-child {
      @include padding(null 3em);
      margin-left: -1.5em;
    }
  }

  @include media($large) {
    &:first-child {
      @include padding(null 4em);
      margin-right: -2.5em;
    }
    &:last-child {
      @include padding(null 4em);
      margin-left: -2.5em;
    }
  }

  // Chevron
  &:before, &:after {
    content: "";
    display: block;

    width: 0;
    height: 0;

    position: absolute;
    left: 50%;

    transform: translateX(-50%);
    transition: border-width $duration--b;

    border: 0 solid transparent;
    border-bottom-width: 0;
  }

  &:before {
    top: 7.5em;
  }
  .o-cats--light &:before {
    border-top-color: $grey--800;
  }
  .o-cats--dark &:before {
    border-top-color: $grey--100;
  }

  .o-cats--light &:after {
    top: 7.3125em;

    border-top-color: white;
  }

  &.is-selected {
    &:before, &:after {
      border-width: 1em;
    }
  }
}

.o-cats__link {
  @include link--light;
  transition: color $duration--b;

  .o-cats--light .is-selected & {
    color: $grey--000;

    svg {
      stroke: url(#gradient-light-on);
    }
  }
  .o-cats--dark .is-selected & {
    color: white;

    svg {
      stroke: url(#gradient-dark-on);
    }
  }
}

.o-cats__icon {
  height: em(66);

  line-height: 1;

  svg {
    vertical-align: middle;
  }

  .o-cats--light & svg {
    stroke: url(#gradient-light-off);
  }
  .o-cats--dark & svg {
    stroke: url(#gradient-dark-off);
  }

  // Pseudo-centering
  &:before {
    @include pseudo-center;
  }
}

.o-cats__title {
  margin-top: .5em;
}

// Variants
.o-cats--dark {
  padding-top: 1.5em;
}
