.o-cart__bar {
  position: relative;

  border-bottom: $stroke--b solid $grey--850;

  @include media($small) {
    text-align: center;
  }

  @include media($tablet-up) {
    margin-bottom: 2em;
  }
}

.o-cart__head {
  margin-top: 0;
  margin-bottom: .75em;

  @include media($tablet-up) {
    position: absolute;
    left: 50%;
    top: 40%;

    transform: translate(-50%, -50%);
  }
}

.o-cart__context {
  display: block;

  padding-bottom: .75em;

  @include media($tablet-up) {
    display: inline-block;

    @include padding(1em null 1.5em);
  }
  @include media($laptop-up) {
    width: 25%;

    text-align: center;

    border-right: $stroke--b solid $grey--900;
  }
}

.o-cart__list {
  max-width: em($width--m);
  
  @include margin(null auto);
}

.o-cart__item {
  &:not(:first-child) {
    border-top: $stroke--b solid $grey--850;
  }

  @include media($tablet-up) {
    display: table;
    width: 100%;
  }
}

.o-cart__main {
  padding-top: 1.5em;

  @include media($tablet-up) {
    display: table-cell;

    padding-right: 1.75em;
    padding-bottom: 1.75em;
  }
}

.o-cart__thumb {
  display: block;
  float: left;

  margin-right: 1em;

  @include media($laptop-up) {
    margin-right: 2.5em;
  }

  &:after {
    content: "";
    display: block;

    @include margin(1em auto null);
    padding: em(2);
    overflow: hidden;
    width: 0;
    height: 0;

    border: $stroke--b solid currentColor;

    transform: translateZ(0) rotate(45deg); // translateZ hack to fix border gap issues in Safari
    transition: background-color $duration--s;
  }
  &:hover:after {
    background-color: currentColor;
  }
}

.o-cart__image {
  width: em(32);

  @include media($laptop-up) {
    width: em(90);
  }

  border-radius: 50%;

  transition: opacity $duration--s;

  .o-cart__thumb:hover & {
    opacity: .75;
  }
}

.o-cart__link {
  display: inline-block;

  @include link--black;
}

.o-cart__settings {
  display: block;

  font-size: em(14);
  font-weight: $font__sans--regular;
  font-style: normal;

  color: $grey--600;

  @include media($tablet-up) {
    font-size: em(18);
  }
}
.o-cart__text {
  overflow: auto;
}

.o-cart__title {
  margin-top: 0;
  margin-bottom: .25em;
}

.o-cart__options {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.o-cart__option {
  &:not(:last-child) {
    margin-bottom: .25em;
  }
}

.option--is-positive {
  color: $positive--500;
}
.option--is-negative {
  color: $negative--500;
}

.o-cart__icon {
  float: left;

  text-align: center;

  width: em(20);
  margin-right: .75em;

  stroke: currentColor;

  &:before {
    @include pseudo-center;
  }

  svg {
    vertical-align: middle;
  }
}

.o-cart__note {
  display: block;
  overflow: auto;

  font-weight: $font__sans--medium;
}

.o-cart__aside {
  text-align: center;

  @include media($small) {
    display: flex;
    justify-content: space-between;

    margin-top: 1.25em;
    padding: 1em;

    background-color: $grey--900;
  }

  @include media($tablet-up) {
    display: table-cell;
    width: 25%;
    
    border-left: $stroke--b solid $grey--900;
  }
}

.o-cart__specify {
  @include media($tablet-up) {
    margin-bottom: .5em;
  }
}

.o-cart__count {
  @include margin(null .5em);

  font-family: $font__serif;
  font-size: 1.25em;

  color: $color2--200;

  @include media($tablet-up) {
    font-size: 1.5em;
  }
}

.o-cart__number {
  color: currentColor;
  background-color: transparent;
}

[class^="o-cart__calc--"],
[class*=" o-cart__calc--"] {
  appearance: none;

  background-color: white;
  border: 0;
  padding: .5em;

  stroke: $grey--700;
  stroke-width: 2;

  cursor: pointer;
  line-height: 0;

  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);

  transition: stroke $duration--s, box-shadow $duration--s;

  &:hover {
    stroke: $grey--400;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  &:active {
    stroke: $grey--000;
  }

  &:focus {
    outline: 0;
  }
}

.o-cart__price {
  display: inline-block;
  color: $grey--500;

  @include media($tablet-up) {
    display: block;

    margin-top: 2em;
  }
}

.o-cart__action--tan {
  &:link, &:visited {
    color: $color2--300;
  }
  &:hover, &:active {
    color: $color2--200;
  }
}

.o-cart__message {
  margin-left: .75em;

  color: $grey--600;
  border-bottom: $stroke--s solid $grey--800;

  font-weight: $font__sans--regular;
}

.o-cart__footer {
  display: table;
  width: 100%;

  background-color: $grey--900;

  border-top: $stroke--b solid $grey--800;
}

.o-cart__pricetags {
  display: table-cell;

  text-align: right;

  padding: 1.5em .5em;

  @include media($tablet-up) {
    padding: 2em;
  }
}

.o-cart__tag--tax {
  color: $color2--200;
  margin-top: 0;
  margin-bottom: .25em;
}
.o-cart__tag--notax {
  margin-top: 0;
  margin-bottom: 0;

  color: $grey--600;
}

.o-cart__total {
  display: table-cell;

  padding: 1.5em .5em;

  @include media($tablet-up) {
    width: 25%;

    text-align: center;

    border-left: $stroke--b solid $grey--800;
  }
}

.o-cart__price--tax {
  display: block;

  margin-bottom: .25em;
}

.o-cart__price--notax {
  display: block;

  color: $grey--600;
}
