.o-cats {
  position: relative;

  // Side gradients
  &:before, &:after {
    content: "";

    position: absolute;
    top: 0;
    bottom: 1.25em;
    z-index: 500;

    width: 2em;

    pointer-events: none;
  }

  @include media($tablet-up) {
    &:before, &:after {
      width: 3em;
    }
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}
.o-cats--white:before {
  background-image: linear-gradient(to right, white, rgba(white, 0));
}
.o-cats--white:after {
  background-image: linear-gradient(to left, white, rgba(white, 0));
}
.o-cats--light:before {
  background-image: linear-gradient(to right, $grey--900, rgba($grey--900, 0));
}
.o-cats--light:after {
  background-image: linear-gradient(to left, $grey--900, rgba($grey--900, 0));
}
.o-cats--dark:before {
  background-image: linear-gradient(to right, $grey--100, rgba($grey--100, 0));
}
.o-cats--dark:after {
  background-image: linear-gradient(to left, $grey--100, rgba($grey--100, 0));
}

.o-cats__list {
  list-style-type: none;
  @include margin(0 null);
  padding-left: 0;

  overflow: hidden;

  white-space: nowrap;

  // Divider line
  .o-cats--white &:after {
    content: "";

    position: absolute;
    top: 7.5em;
    left: 0;
    z-index: -1;

    width: 100%;

    border-bottom: $stroke--b solid $grey--800;
  }
}

.o-cats__item {
  display: inline-block;
  width: auto;

  text-align: center;

  margin-right: 2em;

  &:first-child {
    padding-left: 1.5em;
  }
  &:last-child {
    padding-right: 1.5em;

    margin-right: 0;
  }

  @include media($medium) {
    margin-right: 2.5em;
    
    &:first-child {
      padding-left: 2.75em;
    }
    &:last-child {
      padding-right: 2.75em;
    }
  }

  @include media($large) {
    margin-right: 2.75em;

    &:first-child {
      padding-left: 3.75em;
    }
    &:last-child {
      padding-right: 3.75em;
    }
  }
}

.o-cats__link {
  position: relative;

  display: block;

  .o-cats--white &,
  .o-cats--light & {
    @include link--light;
  }
  .o-cats--dark & {
    @include link--medium;
  }
  // transition: color $duration--b;

  // Chevron
  &:before, &:after {
    content: "";
    display: block;

    width: 0;
    height: 0;

    position: absolute;
    left: 50%;

    transform: translateX(-50%);
    transition: border-width $duration--b;

    border: 0 solid transparent;
    border-bottom-width: 0;
  }

  &:before {
    top: 7.5em;
  }
  .o-cats--white &:before {
    border-top-color: $grey--800;
  }
  .o-cats--light &:before {
    content: none;
  }
  .o-cats--dark &:before {
    border-top-color: $grey--100;
  }

  .o-cats--white &:after {
    top: 7.3125em;

    border-top-color: white;
  }

  &.category--is-active:before,
  &.category--is-active:after {
    border-width: 1em;
  }

  .o-cats--white & {
    stroke: url(#gradient--light);
  }
  .o-cats--light & {
    stroke: url(#gradient--medium);
  }
  .o-cats--dark & {
    stroke: url(#gradient--dark);
  }

  .o-cats--light &:hover {
    stroke: url(#gradient--on);
  }
}

.o-cats--white .category--is-active {
  color: $grey--000 !important;

  svg {
    stroke: url(#gradient--on);
  }
}
.o-cats--dark .category--is-active {
  color: white !important;

  svg {
    stroke: url(#gradient--on);
  }
}

.o-cats__icon {
  height: em(66);

  line-height: 1;

  svg {
    vertical-align: middle;
  }

  // Pseudo-centering
  &:before {
    @include pseudo-center;
  }
}

.o-cats__title {
  margin-top: .5em;
}

// Variants
.o-cats--white,
.o-cats--dark {
  margin-bottom: -1em;
}
.o-cats--dark {
  padding-top: 1.75em;
}
.o-cats--light {
  @include padding(2em null);
}
