.o-chat {
  text-align: left;

  @include add-wrap(vertical);
}

.o-chat__list {
  line-height: 1.5;
}

.o-chat__item {
  @include clearfix;

  @include media($small) {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
 }


.o-chat__info--left {
  @include media($tablet) {
    @include span-columns(2 of 9);

    padding-top: 1.5em;
  }
  @include media($laptop-up) {
    @include span-columns(2 of 12);

    padding-top: 1.75em;
  }
}

.o-chat__author {
  font-weight: $font__sans--regular;
  
  color: $grey--400;

  margin-right: .5em;
}

.o-chat__time {
  white-space: nowrap;
  vertical-align: middle;

  font-size: em(14);
  color: $grey--700;

  margin-top: .25em;

  @include media($laptop-up) {
    display: block;
  }
}

.o-chat__body {
  position: relative;

  @include padding(1em null);

  @include media($small) {
    margin-top: 1.25em;
    border-top: $stroke--b solid $grey--800;
  }
  @include media($tablet-up) {
    @include span-columns(7 of 9);

    @include padding(1.5em null 1.5em 1.5em);

    border-left: $stroke--b solid $grey--800;
    border-bottom: $stroke--b solid $grey--900;

    .o-chat__item:last-child & {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  @include media($laptop-up) {
    @include span-columns(10 of 12);

    @include padding(1.75em null);
  }
}

.o-chat__content {
  @include collapse-children;

  color: $grey--200;

  @include media($laptop-up) {
    width: flex-grid(8, 10);
  }

  @include media($large) {
    font-size: em(18);
  }

  // User tip
  &:before, &:after {
    content: "";
    display: block;

    width: 0;
    height: 0;

    position: absolute;

    border: 1em solid transparent;
  }

  @include media($small) {
    &:before, &:after {
      border-top-width: 0;

      left: 1em;
      bottom: 100%;
    }
    &:before {
      border-bottom-color: $grey--800;
    }
    &:after {
      border-bottom-color: white;

      transform: translateY($stroke--m);
    }
  }

  @include media($tablet-up) {
    &:before, &:after {
      right: 100%;
      top: 1.75em;

      border-left-width: 0;
    }

    &:before {
      border-right-color: $grey--800;
    }
    &:after {
      border-right-color: white;

      transform: translateX($stroke--m);
    }
  }
}

.o-chat__reply {
  @include clearfix;
}

.o-chat__answer {
  position: relative;

  @include collapse-children;

  color: $color2--300;

  @include padding(1em null);

  @include media($tablet-up) {
    .o-chat__item:last-child & {
      padding-bottom: 0;
    }
  }

  @include media($laptop-up) {
    float: left;
    width: flex-grid(7, 10);

    border-right: $stroke--b solid $grey--800;

    @include padding(1.25em 1.5em 1.25em null);

    &:before, &:after {
      // Show now
      content: "";
    }
  }

  @include media($large) {
    font-size: em(18);
  }

  // Owner tip
  &:before, &:after {
    // Deliberately missing content statement
    display: block;

    width: 0;
    height: 0;

    position: absolute;
    left: 100%;
    top: 1.125em;

    border: 1em solid transparent;
    border-right-width: 0;
  }
  &:before {
    border-left-color: $grey--800;
  }
  &:after {
    border-left-color: white;
    transform: translateX(-$stroke--m);
  }
}

.o-chat__info--right {
  float: right;

  // Align baselines
  margin-top: em(-1);
}

.o-chat__owner {
  overflow: auto;
}

.o-chat__portrait {
  float: left;

  width: em(46);

  margin-right: 1em;
  border-radius: 50%;

  @include media($laptop-up) {
    margin-top: 1.25em;
  }
}

.o-chat__note {
  display: block;

  font-style: normal;
  color: $positive--500;
}
