.o-check {
  position: relative;

  display: inline-block;

  color: $grey--400;

  &:hover {
    cursor: pointer;

    color: $grey--200;
  }
}

.o-check__input {
  position: absolute;
  visibility: hidden;
}

.o-check__box {
  position: relative;

  display: inline-block;

  width: em(24);
  height: em(24);

  border-radius: $radius--b;
  background-image: linear-gradient(to bottom right, $grey--800, $grey--700);

  margin-right: 1em;

  stroke: white;

  text-align: center;

  &:before {
    @include pseudo-center;
  }

  svg {
    position: relative;
    z-index: 50;

    vertical-align: middle;
  }

  .o-check:hover & {
    background-image: linear-gradient(to bottom right, $grey--700, $grey--600);
  }

  .o-check__input:checked + & {
    background-image: linear-gradient(to bottom right, $grey--600, $grey--400);

    stroke: $grey--500;
  }

  &:after {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;

    width: em(20);
    height: em(20);

    background-color: white;
    border-radius: $radius--s;

    transform: translate(-50%, -50%);

    transition: transform $duration--b;
  }

  .o-check__input:checked + &:after {
    transform: translate(-50%, -50%) scale(.9);
  }
}

.o-check__text {
  :checked + .o-check__box + & {
    color: $grey--200;
  }

  @include media($large) {
    font-size: em(18);
  }
}
