.o-coll {
  margin-bottom: 2em;

  @include media($tablet-up) {
    margin-top: 1em;
  }

  @include media($laptop-up) {
    @include margin(4em null);

    .device--is-mobile & {
      margin-top: 1em;
    }
  }
}

.o-coll__content {
  position: relative;

  max-width: em($width--l);
  
  @include margin(null auto);
}

.o-coll__thumbs {
  display: block;

  text-align: center;

  @include media($small) {
    margin-bottom: 1em;
  }
  @include media($tablet-up) {
    @include margin(null 22.5%);
  }
}

.o-coll__image {
  display: inline-block;

  max-width: em(160);
  width: 28.5%;

  border-radius: 50%;

  margin-right: -5%;

  transition: margin $duration--b;

  &:last-child {
    margin-right: 0;
  }

  .device--is-desktop .o-coll__thumbs:hover & {
    @include margin(null -1.25%);
  }
}

[class^="o-coll__priceset"],
[class*=" o-coll__priceset"] {
  @include media($small) {
    float: left;

    width: 50%;
  }

  @include media($tablet-up) {
    position: absolute;

    width: 20%;

    top: 50%;
    transform: translateY(-50%);
  }

  text-align: center;
}

.o-coll__priceset--silver {
  left: 0;

  color: $color--silver;
}
.o-coll__priceset--gold {
  right: 0;

  color: $color--gold;
}

[class^="o-coll__figure"],
[class*=" o-coll__figure"] {
  font-size: em(24);
  font-family: $font__serif;
  font-weight: $font__serif--regular;

  white-space: nowrap;
}


.o-coll__figure--crossed {
  text-decoration: none;

  background-image: linear-gradient(to left, currentColor, currentColor);
  background-size: 100% $stroke--b;
  background-position: center 60%;
  background-repeat: repeat-x;

  opacity: .5;
}

.o-coll__figure--new {
  font-style: normal;

  @include media($portable) {
    display: block;
  }

  @include media($large) {
    margin-left: 1em;
  }
}

.o-coll__label {
  display: block;

  margin-top: .75em;
}
