.o-contact {
  margin-top: 1.5em;

  list-style-type: none;
  padding-left: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.o-contact__item {
  @include padding(null 1.5em);
  
  &:not(:last-child) {
    margin-bottom: 1em;
  }
}

.o-contact__link {
  flex: 1 1 auto;

  @include link--tan;
}

.o-contact__caption {
  display: block;

  color: $grey--700;
}
