.o-demoted {
  padding-top: 0;

  max-width: em($width--l);
  
  @include margin(null auto);
  box-sizing: content-box;
}

.o-demoted__list {
  @include clearfix;

  margin-bottom: -1.5em;
}

.o-demoted__item {
  @include media($phablet) {
    @include span-columns(3 of 6);
    @include omega(2n);
  }

  @include media($tablet-up) {
    @include span-columns(3 of 12);
    @include omega(4n);
  }
}
