.o-detail {
  @include clearfix;
}

.o-detail__top {
  text-align: center;
}

.o-detail__text {
  color: $grey--300;
}

.o-detail__viewer {
  @include media($laptop-up) {
    float: left;
    width: 50%;
  }
}

.o-detail__info {
  margin-top: 2.25em;
  
  @include media($laptop-up) {
    float: left;
    width: 50%;

    margin-top: 0;
    padding-left: 2em;
  }
}

.o-detail__bar {
  @include margin(2em null 1em);

  @include media($small) {
    text-align: center;
  }
  @include media($tablet-up) {
    display: table;

    width: 100%;
  }
}

.o-detail__cell {
  @include collapse-children;

  @include media($tablet-up) {
    display: table-cell;

    &:last-child {
      text-align: right;
    }
  }
}

.o-detail__body {
  .device--is-desktop & {
    padding-top: 0;
  }
}

.o-detail__code {
  font-size: em(14);

  color: $grey--500;
}
