.o-featured {
  max-width: em($width--l);
  
  @include margin(null auto);
  box-sizing: content-box;
}

.o-featured__list {
  @include clearfix;

  margin-bottom: -1.5em;
}

.o-featured__item {
  @include media($phablet) {
    @include span-columns(3 of 6);
    @include omega(2n);
  }

  @include media($tablet-up) {
    @include span-columns(3 of 9);
    @include omega(3n);
  }
}
