.o-filters {
  @include clearfix;

  border-bottom: $stroke--b solid $grey--900;
  border-top: $stroke--b solid $grey--900;

  @include padding(null 1.25em);

  @include media($tablet) { @include padding(null 2.25em); }
  @include media($laptop) { @include padding(null 3em); }
  @include media($large)  { @include padding(null 4em); }
}

.o-filters__group {
  position: relative;

  border: $stroke--b solid $grey--900;
  border-top: none;

  @include media($small) {
    &:last-child {
      border-bottom: none;
    }
  }

  @include media($tablet-up) {
    width: 33.333%;
    float: left;

    &:first-child,
    &:last-child {
      border-bottom: none;
    }
    &:nth-child(2) {
      border: none;
    }
  }

  @include media($laptop-up) {
    text-transform: uppercase;
    letter-spacing: em(1);
  }
}

.o-filters__active {
  display: block;

  line-height: 3.5;
  padding-left: 1em;

  color: $c-link;
  background-color: transparent;

  cursor: pointer;
  user-select: none;

  &:hover {
    color: $c-hover;
  }

  .dropdown--is-active & {
    background-color: $grey--900;
  }

  @include media($laptop-up) {
    padding-left: 1.625em;
  }
}

.o-filters__list {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;

  list-style-type: none;
  padding: 1em 1.625em;
  margin-top: 0;

  color: $grey--500;
  background-color: white;
  line-height: 2.5;

  border-bottom-right-radius: $radius--b;
  border-bottom-left-radius: $radius--b;
  box-shadow: $shadow--3;

  animation: $duration--s $ease-out-back forwards pop;

  .dropdown--is-active & {
    display: block;
  }
}

.o-filters__link {
  display: block;

  &--active {
    color: $grey--000;
    background-color: transparent;
  }
}

.o-filters__icon {
  position: absolute;
  right: 1em;
  top: 50%;

  transform: translateY(-50%);

  pointer-events: none;

  line-height: 0;
}

.o-filters__arrow {
  stroke: $grey--800;

  .dropdown--is-active & {
    display: none;
  }
}

.o-filters__close {
  stroke: $grey--700;

  display: none;

  margin-right: 1px; // Align with arrow_down

  .dropdown--is-active & {
    display: block;
  }
}
