.o-gallery {
  white-space: nowrap;

  overflow: hidden;

  text-align: center;
}

.o-gallery__image {
  width: 100%;
  max-width: 100vmin;

  display: inline-block;

  margin-right: 1em;

  &:last-child {
    margin-right: 0;
  }
}

.o-gallery__pager {
  position: relative;

  text-align: center;

  background-color: $grey--900;

  @include padding(1.25em null);

  white-space: nowrap;

  &:before, &:after {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 500;

    width: 2em;

    pointer-events: none;
  }

  &:before {
    left: 0;
    background-image: linear-gradient(to right, $grey--900, rgba($grey--900, 0));
  }

  &:after {
    right: 0;
    background-image: linear-gradient(to left, $grey--900, rgba($grey--900, 0));
  }
}

.o-gallery__thumb {
  display: inline-block;
  width: em(60);
  height: em(60);

  @include media($laptop-up) {
    width: em(90);
    height: em(90);
  }

  box-sizing: content-box;

  margin-right: 1em;

  opacity: $duration--s;

  &:hover {
    cursor: pointer;
  }

  &.is-selected {
    opacity: .5;
  }

  &:first-child {
    padding-left: 1.5em;
  }
  &:last-child {
    padding-right: 1.5em;
    margin-right: 0;
  }
}
