.o-generic__top {
  text-align: center;
}

.o-generic__text {
  max-width: 30em;

  color: $grey--400;

  @include margin(null auto);
  @include collapse-children;

  a {
    @include link--medium;

    border-bottom: $stroke--s solid;
  }
}

.o-generic__subhead {
  background-color: $grey--900;

  @include margin(0 null);
  @include padding(1.25em 1em);

  text-align: center;
}
