.o-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;

  width: 100%;

  // Make header persistent if search bar is active
  .search--is-active & {
    position: fixed !important;
    top: 0 !important;
  }
}

.o-header__content {
  color: white;

  padding: 1.5em 1.25em .75em;

  @include media($tablet) {
    @include padding(null 2.25em);
  }
  @include media($laptop-up) {
    padding: 2em 3em .75em;
  }
  @include media($large) {
    @include padding(null 4em);
  }

  transition: background-color $duration--b $duration--l;

  .search--is-active & {
    background-color: $grey--000;

    transition-duration: 0s;
    transition-delay: 0s;
  }

  .header--not-top &,
  .o-header--stay & {
    background-color: $grey--000;
  }

  html:not(.pages--is-active) .o-header--fade & {
    border-bottom: $stroke--b solid rgba(white, .125);
  }
}

.o-header__logo {
  display: inline-block;
  vertical-align: middle;

  @include media($mobile) {
    position: absolute;
    left: 50%;
    top: 1.75em;

    transform: translateX(-50%);
  }
}

.o-header__badge {
  color: $grey--500;

  display: inline-block;
  vertical-align: middle;

  margin-left: 1.5em;

  @include media($mobile) {
    display: none;
  }
}
