.o-list {
  list-style-type: none;
  padding-left: 0;
}

.o-list__item {
  position: relative;

  padding-left: 1.5em;

  &:not(:last-child) {
    margin-bottom: .5em;
  }

  .o-list--big & {
    margin-left: .25em;
    padding-left: 1.75em;
  }
  .o-list--big &:not(:last-child) {
    margin-bottom: .75em;
  }

  &:before {
    content: "";
    display: block;

    position: absolute;
    left: 0;
    top: .5em;

    width: em(4);
    height: em(4);

    background-color: $grey--700;

    transform: rotate(45deg);
  }
}
