.o-mats {
  @include clearfix;

  list-style-type: none;
  padding-left: 0;

  margin: 0 -.25em;
}

.o-mats__item {
  // Disable margin collapse
  display: inline-block;
  width: 100%;

  @include media($phablet-up) {
    float: left;
    width: 50%;
  }
}

.o-mats__label {
  position: relative;
  display: block;

  border: $stroke--b solid $grey--900;
  border-radius: $radius--b;

  color: $grey--600;
  background-color: $grey--900;

  margin: .25rem;
  padding: 1rem .75rem 1rem 1.25rem;

  font-size: em(20);
  font-family: $font__serif;
  font-weight: $font__serif--regular;

  transition: background-color $duration--s;

  &:hover {
    cursor: pointer;

    border-color: $grey--800;
    background-color: transparent;
  }

  .material--is-active & {
    color: $grey--000;
    background-color: transparent;
    border-color: $grey--500;
  }
}

.o-mats__radio {
  position: absolute;
  visibility: hidden;
}

.o-mats__icon {
  display: inline-block;
  vertical-align: 100%;

  line-height: 1;

  margin-right: .5em;
}
.o-mats__text {
  display: inline-block;
}
.o-mats__title {
  font-weight: $font__serif--regular;
}
.o-mats__price {
  display: block;
}

.o-mats__label--silver {
  stroke: $color--silver;
}
.o-mats__label--gold {
  stroke: $color--gold;
}
.o-mats__label--platinum {
  stroke: $color--platinum;
}
.o-mats__label--rose {
  stroke: $color--rose;
}

.o-mats__tooltip {
  visibility: hidden;

  position: absolute;
  z-index: 500;
  left: 0;
  right: 0;

  text-align: center;

  &:before,
  &:after {
    display: block;

    @include margin(null auto);
  }

  .device--is-desktop .o-mats__label:hover & {
    visibility: visible;
  }

  .o-mats__item:first-child &,
  .o-mats__item:nth-child(2) & {
      bottom: 100%;
  }
  .o-mats__item:first-child &:after,
  .o-mats__item:nth-child(2) &:after {
    @include triangle(.75em, $grey--000, down);
    content: "";
  }
  .o-mats__item:nth-child(3) &,
  .o-mats__item:last-child & {
    top: 100%;
  }
  .o-mats__item:nth-child(3) &:before,
  .o-mats__item:last-child &:before {
    @include triangle(.75em, $grey--000, up);
    content: "";
  }
}

.o-mats__content {
  display: inline-block;

  color: white;
  background-color: $grey--000;

  padding: .75em 1em;
  border-radius: $radius--b;

  max-width: 20em;

  font-size: rem(14);
  font-family: $font__sans;
  font-weight: $font__sans--regular;
  line-height: 1.4;
  text-align: left;
}
