[class^="o-notification--"],
[class*=" o-notification--"] {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;

  width: 100%;

  background-color: white;

  transition: transform $duration--b;

  &:not(:hover),
  .notification--is-closed & {
    transform: translateY(-100%);
  }

  .notification--is-active & {
    animation: 5s both notify;
  }

  &:hover {
    animation-play-state: paused;
  }
}

.o-notification--neutral  { background-color: $neutral--900; }
.o-notification--positive { background-color: $positive--550; }
.o-notification--negative { background-color: $negative--900; }

.o-notification {
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include margin(null auto);

    padding: 1em 1.25em;

    @include media($tablet) {
      @include padding(null 2.25em);
    }
    @include media($laptop) {
      @include padding(null 3em);
    }
    @include media($large) {
      @include padding(1.5em 4em);
    }
  }

  &__content {
    opacity: .75;

    display: flex;
  }

  &__icon {
    line-height: 0;
    margin-right: 1em;

    .svg-stroke {
      fill: none;
      stroke: currentColor;
      stroke-width: 2;
    }
    .svg-fill {
      stroke: none;
      fill: currentColor;
    }
  }

  &__text {
    font-size: 1.125em;
    font-weight: $font__sans--regular;
  }

  &__close {
    cursor: pointer;

    background-color: transparent;
    border: 0;
    padding: .25em;

    stroke: $grey--000;
    opacity: .5;
    
    line-height: 0;

    &:hover {
      opacity: 1;
    }

    &:focus {
      outline: 0;
    }
  }
}
