.o-order {
  @include media($tablet-up) {
    margin-top: 3.5em;
  }
}

.o-order__bar {
  padding-bottom: .75em;

  border-bottom: $stroke--b solid $grey--900;

  @include media($mobile) {
    text-align: center;

    margin-bottom: 1.5em;
  }

  @include media($tablet-up) {
    .o-order__column:first-child & {
      padding-right: 2em;
    }
    .o-order__column:last-child & {
      padding-left: 2em;
    }
  }
  @include media($laptop-up) {
    display: table;
    width: 100%;

    padding-top: .75em;
  }
}

.o-order__cell {
  @include media($mobile) {
    &:last-child {
      margin-top: .375em;
    }
  }

  @include media($laptop-up) {
    display: table-cell;
    vertical-align: middle;

    &:last-child {
      text-align: right;
    }
  }
}

.o-order__head {
  @include margin(0 null);

  display: inline-block;
}

.o-order__section {
  margin-top: 3em;

  &:first-child {
    margin-top: 0;
  }
}

.o-order__container {
  @include media($small) {
    margin-top: 2em;
  }

  @include media($tablet-up) {
    display: table;
    width: 100%;
  }
}

.o-order__column {
  @include media($small) {
    &:not(:first-child) {
      margin-top: 2em;
    }
  }

  @include media($tablet-up) {
    display: table-cell;
    width: 50%;
    
    // Silly way to ensure it is perfectly centered
    &:first-child {
      border-right: $stroke--s solid $grey--850;
    }
    &:last-child {
      border-left: $stroke--s solid $grey--850;
    }
  }

}

.o-order__set {
  border: none;
  padding: 0;
  margin: 0;

  @include media($tablet-up) {
    @include padding(2em null);

    .o-order__column:first-child & {
      padding-right: 2em;
    }
    .o-order__column:last-child & {
      padding-left: 2em;
    }
    .o-order__section:first-child & {
      padding-bottom: 0;
    }
  }
  @include media($laptop-up) {
    @include padding(2.5em null);
  }
}

[class^="o-order__field"],
[class*=" o-order__field"] {
  margin-bottom: 1.125em;

  &:last-child {
    margin-bottom: 0;
  }
}
.o-order__field--medium {
  margin-bottom: 1.75em;
}
.o-order__field--big {
  margin-bottom: 2em;

  @include media($tablet-up) {
    margin-bottom: 2.75em;
  }
}

.o-order__label {
  display: block;

  font-size: em(18);
  line-height: 1;

  margin-bottom: .75rem;

  color: $grey--200;
}

[class^="o-order__action"],
[class*=" o-order__action"] {
  text-align: center;
}

.o-order__action--down:after,
.o-order__action--up:before {
  display: block;
  width: $stroke--b;

  @include margin(null auto);

  background-color: $grey--850;
}
.o-order__action--down:after {
  height: 2em;

  @include media($tablet-up) {
    content: "";
  }
}
.o-order__action--up:before {
  height: 4em;

  content: "";
}


.o-order__check {
}

.o-order__summary {
  border-bottom: $stroke--b solid $grey--800;

  @include media($small) {
    text-align: center;

    margin-top: 2em;
  }
  @include media($tablet-up) {
    display: table;
    width: 100%;
  }
}
.o-order__pricetag {
  padding: 1em .5em;

  background-color: $grey--900;

  @include media($tablet-up) {
    display: table-cell;
    width: 50%;

    text-align: right;
    
    padding: 2em;

    border-right: $stroke--s solid $grey--800;
  }
}

.o-order__tag {
  @include margin(0 null);

  color: $color2--200;
}

.o-order__total {
  padding: 1em .5em;

  @include media($tablet-up) {
    display: table-cell;
    width: 50%;

    padding: 2em;

    border-left: $stroke--s solid $grey--800;
  }
}

.o-order__disclaimer {
  display: block;

  color: $grey--600;
  text-align: center;

  margin-top: 2em;
}
