.o-pages {
  @include media($mobile) {
    display: none;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    font-size: em(24);
    text-align: center;
    line-height: 1.5;

    background-color: $grey--000;

    .pages--is-active & {
      display: block;
    }
  }

  @include media($tablet) {
    line-height: 2;
  }

  @include media($laptop-up) {
    font-size: em(18);
    line-height: 1;
  }
}
.o-pages__list {
  list-style-type: none;
  padding-left: 0;

  @include media($mobile) {
    position: absolute;
    top: 42.5%;
    left: 0;
    right: 0;

    transform: translateY(-50%);
  }

  @include media($laptop-up) {
    @include margin(0 null);
  }
}
.o-pages__item {
  @include media($laptop-up) {
    display: inline-block;

    margin-right: 1.5em;

    &:last-child {
      margin-right: 0;
    }
  }
}
.o-pages__link {
  @include link--lighter;

  &.link--is-active {
    color: white;

    font-weight: $font__sans--medium;
  }
}
