.o-perks {
  max-width: em($width--m);
  
  @include margin(null auto);

  @include media($tablet-up) {
    text-align: center;
  }
}

.o-perks__list {
  position: relative;

  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-right: -$stroke--s;
  margin-left: -$stroke--s;
  padding: 0;
  border-top: $stroke--s solid $grey--800;
  border-bottom: $stroke--s solid $grey--800;

  // Hide side borders
  &:before, &:after {
    content: "";
    position: absolute;
    top: -$stroke--s;
    bottom: -$stroke--s;
    z-index: 100;

    width: $stroke--s;

    background-color: white;
  }

  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}

.o-perks__title {
  margin-top: 0;

  text-align: center;
}

.o-perks__item {
  position: relative;

  flex: 1 1 auto;

  @include padding(.75em 1em);

  border: $stroke--s solid $grey--800;

  @include media($small) {
    padding-left: 3.75em;
  }
}

.o-perks__text {
  font-weight: $font__sans--regular;

  margin-right: .5em; // Optical balance

  @include media($tablet-up) {
    font-size: em(18);
  }
}

.o-perks__icon {
  line-height: 1.75;

  stroke: $positive--500;

  @include media($small) {
    position: absolute;
    left: 1.25em;
  }
  @include media($tablet-up) {
    display: inline-block;
    vertical-align: middle;

    margin-right: 1em;

    line-height: 1;
  }
}
