.o-qa__top {
  counter-reset: top-count section-count;
}

.o-qa__column {
  @include collapse-children;

  @include media($small) {
    &:not(:last-child) {
      margin-bottom: 1.5em;
    }
  }
  @include media($tablet-up) {
    @include span-columns(6 of 12);
  }
}

.o-qa__head {
  position: relative;

  padding-left: 2rem;

  &:before {
    content: counter(top-count);
    counter-increment: top-count;

    position: absolute;
    left: 0;
  }
}

.o-qa__topic {
  border-top: $stroke--b solid $grey--900;
}

.o-qa__subhead {
  position: relative;

  padding-left: 2rem;

  &:before {
    position: absolute;
    left: 0;

    content: counter(section-count);
    counter-increment: section-count;
  }

  @include media($tablet-up) {
    text-align: center;
  }
}

.o-qa__entries {
  @include clearfix;

  margin-top: -1.25em;
}
.o-qa__entry {
  padding-top: 1.25em;

  @include media($tablet-up) {
    @include span-columns(5 of 12);

    clear: both;
  }
}

.o-qa__term {
  @include margin(0 null);

  color: $color2--300;
}

.o-qa__description {
  @include margin(null 0);

  @include padding(1.25em null);

  border-bottom: $stroke--b solid $grey--900;
  
  color: $grey--400;

  &:last-child {
    padding-bottom: 0;

    border-bottom: none;
  }

  @include media($tablet-up) {
    width: flex-grid(7, 12);
    float: left;
  }
}
