.o-quote {
  text-align: center;

  @include margin(null auto 2.25em);
  max-width: em(600);
}

.o-quote__text {
  color: $color2--500;

  @include margin(.5em null);

  &:before, &:after {
    display: inline-block;
    height: .5em;

    color: $grey--300;

    font-size: 2em;
    line-height: .6875;
  }

  &:before {
    content: "\201E";

    margin-left: -.125em;
  }
  &:after {
    content: "\201C";
    vertical-align: text-bottom;

    margin-right: -.125em;
  }
}

.o-quote__footer {
  font-size: em(18);

  border-top: $stroke--b solid $grey--200;

  max-width: 30em;
  @include margin(null auto);

  @include media($phablet-up) {
    display: table;
    width: 100%;
  }
}

.o-quote__cell {
  display: block;

  @include media($phablet-up) {
    display: table-cell;
    width: 50%;
  }
}

.o-quote__author {
  padding-top: 1em;

  color: $grey--500;
  font-style: normal;
}

.o-quote__description {
  color: $grey--300;
  font-weight: $font__sans--regular;

  @include media($phablet-up) {
    padding-top: 1em;

    border-left: $stroke--b solid $grey--200;
  }
}
