.o-related__list {
  max-width: em($width--l);
  
  @include margin(null auto -1.5em);

  @include clearfix;
}

.o-related__item {
  @include media($phablet) {
    @include span-columns(3 of 6);
    @include omega(2n);
  }

  @include media($tablet-up) {
    @include span-columns(3 of 12);
    @include omega(4n);
  }
}
