.o-section__head--center {
  text-align: center;

  max-width: 14em;
  margin-left: auto;
  margin-right: auto;
}

.o-section--light {
  background-color: $grey--900;
}

.o-section--dark {
  background-color: $grey--100;
  color: white;
}
