.o-shortcuts {
  @include media($mobile) {
    display: none;

    position: fixed;
    bottom: 1.25em;
    left: 2em;
    right: 2em;

    line-height: 2;
    text-align: center;
  }

  list-style-type: none;
  padding-left: 0;
  @include margin(0 null);

  @include clearfix;

  .pages--is-active & {
    display: block;
  }

  @include media($laptop-up) {
    float: right;

    line-height: 1;
    margin-top: .5em;
  }
}

[class^="o-shortcuts__item"],
[class*=" o-shortcuts__item"] {
  font-size: em(18);

  @include media($phablet-up) {
    display: inline-block;

    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.o-shortcuts__item--half {
  font-size: 1em;

  @include media($phone) {
    display: inline-block;

    @include margin(null .75em);
  }
}

.o-shortcuts__icon {
  display: inline-block;
  margin-right: .5em;
  vertical-align: middle;

  fill: currentColor;
}

.o-shortcuts__link {
  display: block;

  &:link, &:visited {
    color: $color2--500;
  }
  &:hover, &:active {
    color: $color2--700;
  }
}

.o-shortcuts__holder {
  position: relative;

  color: $color2--500;

  &:hover {
    color: $color2--700;
  }

  &:after {
    position: absolute;
    right: 0;
    top: 45%;
    content: "";

    transform: translateY(-50%);

    @include triangle(.5em, currentColor, down);
  }
}

.o-shortcuts__select {
  @include appearance(none);
  border: none;
  border-radius: 0;
  background-color: transparent;

  line-height: 1; // Inherited line-height causes cropping

  padding-right: .75em;

  color: currentColor;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
