.o-spotlight {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;

  width: 100%;

  background-color: $color2--500;

  transition-property: transform, visibility;
  transition-duration: $duration--b;

  transform: translateY(-100%);

  visibility: hidden;

  .search--is-active & {
    visibility: visible;

    transform: translateY(0);

    transition: transform $duration--b, visibility 0s;
  }
}

.o-spotlight__input {
  width: 100%;

  background-color: transparent;
  border: none;
  @include padding(0 1.25rem);

  font-size: em(24);
  font-weight: $font__sans--light;
  line-height: 3;

  &:focus {
    outline: none;
  }

  @include media($tablet) {
    @include padding(0 2.25rem);
  }

  @include media($laptop-up) {
    @include padding(0 1.5em);

    font-size: em(32);
  }

  @include media($large) {
    @include padding(null 2em);
  }
}

.o-spotlight__submit {
  background-color: transparent;
  border: none;
  padding: 0 1.25em;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  color: white;
  stroke: currentColor;

  @include media($tablet) {
    @include padding(null 2.25em);
  }

  @include media($laptop) {
    @include padding(null 3em);
  }

  @include media($large) {
    @include padding(null 4em);
  }

  &:hover {
    cursor: pointer;
    color: rgba(white, .75);
  }

  &:focus {
    outline: none;
  }
}

.o-spotlight__caption {
  @include media($mobile) {
    display: none;
  }

  vertical-align: middle;

  font-size: em(32);
  font-weight: $font__sans--light;

  margin-right: .5em;
}

.o-spotlight__icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
