.o-sticky-container--end {
  .device--is-mobile & {
    display: none;
  }
  .device--is-desktop & {
    height: em(94);

    border-top: $stroke--b solid $grey--900;
  }
}

.o-sticky {
  display: flex;

  flex-wrap: wrap;

  width: 100%;

  background-color: $grey--900;

  @include add-wrap(horizontal);
  @include padding(1.75em null);

  @include media($laptop-up) {
    @include padding(1.25em null);
  }

  .device--is-desktop & {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1500;
  }

  &.panel--is-unstuck {
    position: absolute;
    bottom: auto;
  }
}

.o-sticky__cell {
  flex: 1 1 auto;

  @include media($small) {
    &:first-child,
    &:last-child {
      width: 100%;
    }
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  @include media($tablet) {
    &:last-child {
      width: 100%;

      text-align: center;

      margin-top: 1.25em;
    }
  }
}

.o-sticky__portrait {
  display: inline-block;
  vertical-align: top;

  width: em(46);
  margin-right: .5em;

  border-radius: 50%;
}

.o-sticky__text {
  display: inline-block;

  font-size: em(18);
}

.o-sticky__bonus {
  color: $positive--500;
}

[class^="o-sticky__icon"],
[class*=" o-sticky__icon"] {
  position: relative;
  top: 2px; // Optical offset

  display: inline-block;
  width: 1.5em;

  text-align: center;
  line-height: 1;
  vertical-align: top;

  stroke: currentColor;

  margin-right: .5em;

  @include media($small) {
    margin-left: .75em;

    margin-right: 1.125em;
  }
}

.o-sticky__price {
  @include media($small) {
    display: block;

    text-align: center;
  }
}
.o-sticky__figure {
  @include media($mobile) {
    display: inline-block;

    margin-right: .75em;
  }

  display: block;

  // Baseline adjustment
  margin-top: -4px;
}

.o-sticky__button {
  border: 0;
  cursor: pointer;

  @include media($phone) {
    width: 100%;

    text-align: center;
  }

  @include media($small) {
    display: block;

    @include margin(.75em auto null);
  }

  @include media($tablet) {
    margin-left: 2em;
  }

  @include media($laptop-up) {
    float: right;
  }
}
