.o-tabs {
  @include clearfix;
  
  @include margin(0 null);
  list-style-type: none;
  padding-left: 0;

  text-align: center;
}

.o-tabs__item {
  display: inline;
}

.o-tabs__link {
  position: relative;

  display: inline-block;

  @include padding(.5em 1.25em 1em);

  text-decoration: none;

  border-right: $stroke--b solid $grey--800;

  .o-tabs__item:last-child & {
    border-right: none;
  }

  @include media($phablet-up) {
    font-size: em(20);

    @include padding(null 10%);
  }

  &:before,
  &:after {
    content: "";
    display: block;

    width: 0;
    height: 0;

    position: absolute;
    left: 50%;

    transform: translateX(-50%);
    transition: border-width $duration--b;

    border: 0 solid transparent;
    border-bottom-width: 0;
  }
  &:before {
    top: 100%;
    border-top-color: $grey--800;
  }
  &:after {
    top: 100%;

    transform: translateX(-50%) translateY(-$stroke--m);
    border-top-color: white;
  }

  &.tab--is-active {
    color: $grey--000;
  }
  &.tab--is-active:before,
  &.tab--is-active:after {
    border-width: 1em;
  }
}

.o-tabs__title {
  font-size: 1em;
  font-weight: $font__sans--regular;

  @include margin(0 null);
}

.o-tabs__content {
  display: none;
  width: 100%;

  border-top: $stroke--b solid $grey--800;
}

.tab--is-open {
  display: block;

  float: left;
}
