.o-vars {
  position: relative;

  list-style-type: none;
  @include margin(0 null -1em);

  text-align: center;

  padding-left: 0;

  // Side gradients
  &:before, &:after {
    content: "";

    position: absolute;
    top: 0;
    bottom: 1em;
    z-index: 500;

    width: 2em;

    pointer-events: none;
  }

  &:before {
    left: 0;

    background-image: linear-gradient(to right, $grey--900, rgba($grey--900, 0));
  }
  &:after {
    right: 0;

    background-image: linear-gradient(to left, $grey--900, rgba($grey--900, 0));
  }
}

[class^="o-vars__item"],
[class*=" o-vars__item"] {
  display: inline-block;
  vertical-align: top;

  margin-left: 1em;

  &:first-child {
    padding-left: 1.5em;

    margin-left: 0;
  }
  &:last-child {
    padding-right: 1.5em;
  }
}

.o-vars__item--bespoke {
  margin-left: 2em;
}

.o-vars__link {
  position: relative;

  display: inline-block;

  text-align: center;
  white-space: nowrap;

  @include link--light;

  // Chevron
  &:before {
    content: "";
    display: block;

    width: 0;
    height: 0;

    position: absolute;
    left: 50%;
    top: em(146);

    transform: translateX(-50%);
    transition: border-width $duration--b;

    border: 0 solid transparent;
    border-bottom-width: 0;
    border-top-color: $grey--900;
  }

  .variant--is-active &:before,
  .variant--is-active &:after {
    border-width: 1em;
  }
}

.o-vars__thumb {
  width: em(90);
  border-radius: 50%;

  transition: opacity $duration--s;

  .variant--is-active & {
    opacity: .5;
  }
}

.o-vars__gem {
  display: inline-block;

  margin-top: 1em;
  padding: em(2);
  overflow: hidden;
  width: 0;
  height: 0;

  border: $stroke--b solid currentColor;

  transform: translateZ(0) rotate(45deg); // translateZ hack to fix border gap issues in Safari
  transition: background-color $duration--s;

  .variant--is-active & {
    background-color: currentColor;
  }
}

.o-vars__symbol {
  display: inline-block;

  width: em(90);
  height: em(90);

  border-radius: 50%;
  background-color: white;

  stroke: $grey--700;

  &:before {
    @include pseudo-center;
  }

  svg {
    vertical-align: middle;
  }
}

.o-vars__title {
  display: block;

  font-weight: $font__sans--regular;

  margin-top: .625em;
}
