.o-hud {
  @include media($laptop-up) {
    margin-top: .75em;
  }
}

.o-dim {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  padding: 0;
  border: none;
  background-color: rgba(black, .75);

  cursor: n-resize;

  animation: vFade $duration--b;

  &:focus {
    outline: 0;
  }

  .search--is-active & {
    display: block;
  }
}

.o-top {
  padding-top: em(78);

  @include media($laptop-up) {
    padding-top: em(126);
  }
  @include media($tv) {
    padding-top: 7.25em; // 20 * 7.25 = 145 = o-header Height
  }
}

.o-top--cats {
  position: relative;

  color: white;
  background-color: $grey--100;
}

.o-top--vars {
  position: relative;

  background-color: $grey--900;
}

.o-top--cats:before,
.o-top--vars:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  height: 1em;

  background-color: white;
}
