.o-logo {
  &:link, &:visited {
    color: white;
  }

  svg {
    display: block;

    fill: white;

    margin-left: auto;
    margin-right: auto;
  }
}

.o-hud {
  @include media($laptop-up) {
    margin-top: .75em;
  }
}

.o-disclaimer {
  color: $grey--300;
}
.o-disclaimer__content {
  @include collapse-children;

  @include media($tablet) {
    @include shift(2 of 9);
  }

  @include media($laptop-up) {
    @include shift(4 of 12);
  }
}

.o-capsbutton {
  font-weight: $font__sans--medium;
}
.o-capsbutton__icon {
  display: inline-block;

  stroke: currentColor;

  vertical-align: middle;
  margin-left: .75em;

  line-height: 1;
}

.o-dim {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100%;
  height: 100%;

  padding: 0;
  border: none;
  background-color: rgba(black, .75);

  cursor: n-resize;

  animation: vFade $duration--b;

  &:focus {
    outline: 0;
  }

  .search--is-active & {
    display: block;
  }
}
