// HSB to HSLA.
@function hsb ($h-hsb, $s-hsb, $b-hsb, $a: 1) {
  @if $b-hsb == 0 {
    @return hsla(0, 0, 0, $a)
  } @else {
    $l-hsl: ($b-hsb / 2) * (2 - ($s-hsb / 100));
    $s-hsl: ($b-hsb * $s-hsb) / if($l-hsl < 50, $l-hsl * 2, 200 - $l-hsl * 2);
    @return hsla($h-hsb, $s-hsl, $l-hsl, $a);
  }
}

// Remove horizontal margins
@mixin collapse-children {
  & > :first-child {
    margin-top: 0;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}

@mixin pseudo-center {
  content: "";

  display: inline-block;

  width: 0;
  height: 100%;

  vertical-align: middle;
}

// Links
@mixin link--primary {
  &:link, &:visited {
    border-bottom-color: rgba($color1--700, .75);
  }
  &:hover, &:active {
    border-bottom-color: rgba($color1--500, .5);
  }
}
@mixin link--white {
  &:link, &:visited {
    color: white;
    border-bottom-color: rgba(white, .25);
  }
  &:hover, &:active {
    color: rgba(white, .75);
    border-bottom-color: rgba(white, .375);
  }
}
@mixin link--lighter {
  &:link, &:visited {
    color: $grey--700;
    border-bottom-color: rgba($grey--700, .5);
  }
  &:hover, &:active {
    color: white;
    border-bottom-color: rgba(white, .5);
  }
}
@mixin link--light {
  &:link, &:visited {
    color: $grey--500;
    border-bottom-color: rgba($grey--500, .5);
  }
  &:hover, &:active {
    color: $grey--300;
    border-bottom-color: rgba($grey--300, .5);
  }
}
@mixin link--medium {
  &:link, &:visited {
    color: $grey--400;
    border-bottom-color: rgba($grey--400, .5);
  }
  &:hover, &:active {
    color: $grey--600;
    border-bottom-color: rgba($grey--600, .5);
  }
}
@mixin link--dark {
  &:link, &:visited {
    color: $grey--200;
    border-bottom-color: rgba($grey--200, .5);
  }
  &:hover, &:active {
    color: $grey--400;
    border-bottom-color: rgba($grey--400, .5);
  }
}
@mixin link--black {
  &:link, &:visited {
    color: $grey--000;
    border-bottom-color: rgba($grey--000, .25);
  }
  &:hover, &:active {
    color: $grey--300;
    border-bottom-color: rgba($grey--300, .5);
  }
}
@mixin link--tan {
  &:link, &:visited {
    color: $color2--300;
    border-bottom-color: rgba($color2--300, .5);
  }
  &:hover, &:active {
    color: $color2--200;
    border-bottom-color: rgba($color2--200, .75);
  }
}
