#modal.m-modal
  form.m-modal__form(action="", method="post", novalidate="")
    a.m-modal__close(href="#"): include ../../svg/icon_close.svg

    fieldset.m-modal__set
      .m-modal__top
        legend.m-modal__title.t-head--two Jiný kámen
      .m-modal__row--flex
        .m-modal__item
          label.m-modal__label Hlavní kámen
          +input-dropdown("Beze změny")
        .m-modal__item
          label.m-modal__label Vedlejší kámen
          +input-dropdown("Beze změny")
      .m-modal__row
        label.o-check
          input.o-check__input(type="checkbox")
          span.o-check__box: include ../../svg/icon_check_small.svg
          span.o-check__text Mám zájem o přírodní kámen
        span.m-modal__hint Osázení šperku přírodním kamenem spadá do výroby na zakázku, proto doba dodání může být až v řádech týdnů. Jeho cena se liší s kvalitou kamene, váhou, velikostí apod. a proto vždy záleží na Vašem konkrétním požadavku. Pro ukončení objednávky budete vyzváni zadat telefonní číslo, abychom Vás mohli kontaktovat. (Cenu, kterou zaplatíte je pouze záloha).

    fieldset.m-modal__set
      .m-modal__top
        legend.m-modal__title.t-head--two Rytí
      .m-modal__row
        textarea.o-textarea(rows="2", placeholder="Zde napište, co chcete vyrýt")
        span.m-modal__hint Cena 30 Kč/znak. V případě, že nebude možné z designového hlediska u šperku provést vnitřní rytí, budeme Vás telefonicky kontaktovat.
      .m-modal__row
        input.o-submit--solid(type="submit", value="Odeslat úpravy")
    input.hidden(type="hidden", name="_do", value="customizeProduct-kameny-submit")

  a.m-modal__overlay(href="#")
