section.o-section--light.l-wrap
  .o-bar
    .o-bar__title
      h1.o-section__head.t-head--one Časté dotazy
    .o-bar__side
      a(href="#").o-capsbutton
        span.t-caps Více
        span.o-capsbutton__icon: include ../../svg/chevron_right.svg

  .o-banners
    each instance, index in ["Objednáváte prsten? Změřte se.", "Jak vyrábíme šperky na zakázku?", "Co vše můžete u šperků měnit?", "Člověkem stvořený nebo přírodní drahokam?"]
      article.o-banners__item
        a.o-banners__link(href="#")
          img.o-banners__image(src="assets/images/banner_#{index + 1}.jpg", alt="FAQ Photo")
          h3.o-banners__title.t-head--three= instance
