footer.o-footer
  .l-wrap
    a.o-footer__logo.o-logo(href="index.html"): include ../../svg/logo_veneo_new.svg
    .o-footer__group
      h4.o-footer__title.t-head--three Zlatnictví provozuje
      ul.o-footer__list
        li.o-footer__item Lubomír Krčmář – zlatník a&nbsp;hodinář
        li.o-footer__item Dílna a prodejna Plumlovská 49, Prostějov
        li.o-footer__item IČ 12307521&emsp;DIČ CZ6405090142
      ul.o-footer__list
        li.o-footer__item +420 582 337 520
        li.o-footer__item +420 776 336 196
        li.o-footer__item: a.t-link--white(href="#") zlatnictvi@veneo.cz
    .o-footer__group
      h4.o-footer__title.t-head--three Šperky sami vyrábíme
      ul.o-footer__list
        li.o-footer__item 14karátové zlato, Au ryzost 585/000
        li.o-footer__item Stříbro slit. “Sagin”, Ag ryzost 925/000
        li.o-footer__item Šperky kontroluje Puncovní úřad ČR
      ul.o-footer__list
        li.o-footer__item Materiál, typ a barva kamenů na přání
        li.o-footer__item 2 roky záruka, úprava velikosti zdarma
        li.o-footer__item: a.t-link--white(href="#") Více v Obchodních podmínkách

  .o-newsletter
    .o-newsletter__wrap
      .o-newsletter__content
        h2.t-head--one Novinky, akce  a&nbsp;zajímavosti ze světa šperků
        p.t-text--white Odebírejte náš novinkový zpravodaj a&nbsp;buďte v obraze. Zasíláme maximálně jednou za 14 dnů.
    form.o-newsletter__form
      fieldset.o-newsletter__fieldset
        input.o-newsletter__input(type="text", placeholder="Váš e-mail")
        input.o-newsletter__submit(type="submit", value="Odebírat newsletter")

  .o-disclaimer.l-wrap
    .o-disclaimer__content
      h5.t-head--four ©&thinsp;2016 Zlaté a&nbsp;stříbrné šperky Veneo®
      small.t-head--four Web zajistili designéři Jakub Krčmář a&nbsp;Christian Jánský, systém Ivorius webdesign.
