section.m-reasons.l-wrap
  h1.o-section__head--center.t-head--one 7&nbsp;důvodů pro veneo

  ul.m-reasons__list
    li.m-reasons__item.t-term Originalita a&nbsp;jedinečnost
    li.m-reasons__item.t-term Kvalita a&nbsp;preciznost
    li.m-reasons__item.t-term Osobní přístup
    li.m-reasons__item.t-term Úpravy na přání 
    li.m-reasons__item.t-term Kamenná prodejna
    li.m-reasons__item.t-term Poštovné zdarma
    li.m-reasons__item.t-term Dárková krabička v&nbsp;ceně

  a(href="#").m-reasons__button.o-capsbutton.chevron--right
    span.o-capsbutton__text.t-caps Filozofie značky
