section.m-stats.o-section--dark.l-wrap
  h1.o-section__head--center.t-head--one Již 25&nbsp;let děláme zákazníkům radost

  blockquote.o-quote
    p.o-quote__text.t-quote Originální šperky pro ty nejbližší jedině od Lubomíra Krčmáře.
    footer.o-quote__footer
      cite.o-quote__author Jan Tleskač
      strong.o-quote__description spokojený zákazník

  ul.m-stats__list
    li.m-stats__item
      span.m-stats__logo: include ../../svg/logo_heureka.svg
      .m-stats__content
        strong.m-stats__figure.t-figure 95&thinsp;%
      p.m-stats__text.t-paragraph--light Ověřeno zákazníky portálu Heuréka
    li.m-stats__item
      span.m-stats__logo: include ../../svg/logo_etsy.svg
      .m-stats__content
        strong.m-stats__figure.t-figure 5/5
        span.m-stats__shape--right: include ../../svg/shape_star.svg
      p.m-stats__text.t-paragraph--light Nejvyšší hodnocení v obchodě Etsy
    li.m-stats__item
      span.m-stats__logo: include ../../svg/logo_fler.svg
      .m-stats__content
        strong.m-stats__figure.t-figure 99&thinsp;%
      p.m-stats__text.t-paragraph--light Hodnoceno uživateli portálu fler
    li.m-stats__item
      span.m-stats__logo: include ../../svg/logo_facebook.svg
      .m-stats__content
        span.m-stats__shape--left: include ../../svg/shape_like.svg
        strong.m-stats__figure.t-figure 1&thinsp;641
      p.m-stats__text.t-paragraph--light Přidejte se k&nbsp;fanouškům na Facebooku
    li.m-stats__item
      span.m-stats__logo: include ../../svg/logo_urad.svg
      .m-stats__content
        span.m-stats__shape: include ../../svg/shape_certificate.svg
      p.m-stats__text.t-paragraph--light Pod kontrolou Puncovního úřadu ČR
