.l-wrap {
  @include margin(null auto);

  padding: 2.25em 1.625em;

  @include clearfix;
  @include collapse-children;

  @include media($tablet) {
    padding: 2.25em;
  }
  @include media($laptop-up) {
    padding: 3em;
  }
  @include media($large) {
    padding: 3em 4em;
  }
}

.l-inline {
  display: table;

  width: 100%;
}
[class^="l-inline__cell"],
[class*=" l-inline__cell"] {
  display: table-cell;

  vertical-align: middle;

  @include collapse-children;
}
.l-inline__cell--right {
  text-align: right;
}
