extends templates/_site

block template-content
  +header("stay", "Kontakty")

  section.o-top
    article.o-generic__article.l-wrap
      h1.t-head--one Kontakt
      p.t-medium Máte připomínku nebo dotaz, na který jste nenašli odpověď v&nbsp;#[a(href="faq.html") Častých otázkách]? Chcete si nechat vyrobit #[a(href="generic-page.html") šperk na zakázku] a&nbsp;potřebujete kalkulaci? Nebo poptáváte výrobu exkluzivního produktu a&nbsp;chcete si domluvit osobní schůzku s&nbsp;Lubomírem Krčmářem?<br>Spojte se s&nbsp;námi.
      ul.o-contact
        each caption, instance in {"zlatnictvi@veneo.cz": "preferujeme", "+420 582 337 520": "9:00&ndash;16:00", "+420 776 336 196": "9:00&ndash;16:00"}
          li.o-contact__item
            a.o-contact__link.t-medium(href="#")= instance
            small.o-contact__caption.t-small!= caption

    article.o-blox
      .o-blox__image
        .o-map#js-map
      .o-blox__content--black
        .o-blox__flex
          .o-blox__intro
            h3.t-head--five Jak se k nám dostanete
            p Naši kamennou prodejnu se zlatnickou dílnou můžete navštívit na adrese Plumlovská 49, Prostějov. Najdete nás necelých 400 m od centra města.
          .o-blox__outro
            h4.t-head--two Otevírací doba
            ul.o-blox__list--normal
              li.o-blox__item--inline
                strong.o-blox__strong Úterý 
                | 10&ndash;12&emsp;14&ndash;16
              li.o-blox__item--inline
                strong.o-blox__strong Čtvrtek 
                | 10&ndash;12&emsp;14&ndash;16
            p Objednejte se prosím dopředu, ať máte jistotu, že budeme mít otevřeno.

    article.o-blox
      .o-blox__content--white
        .o-blox__flex
          .o-blox__intro
            p Po domluvě vás obsloužíme i&nbsp;mimo otevírací dobu, parkovat je možné přímo před prodejnou.
            p Na adrese naší kamenné prodejny si také můžete vyzvednout objednávky z&nbsp;internetu a&nbsp;nabízíme zde výkup zlata a&nbsp;stříbra &mdash; těšíme se na Vás!
          .o-blox__outro
            h4.t-head--four Provozovatel
            ul.o-blox__list--padded
              li.o-blox__item--inline
                img.o-blox__portrait(src="assets/images/portrait_small_1.jpg", alt="Lubomír Krčmář")
                strong.o-blox__strong Lubomír Krčmář 
                | Plumlovská 49, <br>760 01 Prostějov
              li.o-blox__item--inline #[span.o-blox__abbr IČ] 12307521 #[br]#[span.o-blox__abbr DIČ] CZ6405090142
            p.t-tiny Registr: Okresní živnostenský úřad Okresního úřadu Prostějov č.j.: ŽÚ/2630/2000/Hoch ev.č. 370900-31176-02, vznik práva provozovat živnost: 4.&nbsp;11.&nbsp;1992 (více zápis v živnostenském rejstříku).
          
      .o-blox__image(style="background-image: url('assets/images/photo_4.jpg')")

  section.o-section--light.l-wrap
    h1.o-section__head--center.t-head--one Mohlo by Vás zajímat

    ul.o-triad
      each instance in ["Příběhy našich zákazníků", "Filozofie značky", "Nejčastější dotazy"]
        li.o-triad__item: a.o-triad__link.t-medium(href="#")= instance

  include partials/_stats

  include partials/_footer
