extends templates/_site

block template-content
  +header("stay", "Časté otázky")

  section.o-top
    article.o-generic__article.l-wrap
      h1.t-head--one Časté otázky
      p.t-medium
        +dummy(15)
        | 
        a(href="#"): +dummy(5)
        | 
        +dummy(10)

    .o-frequent.o-section--light.l-wrap
      h2.o-frequent__title.t-head--five Nejhledanější
      ul.o-frequent__list
        each instance in ["Syntetický/přirodní opál", "Měření velikosti prstenu", "Rhodiování stříbra", "Dodání šperků skladem", "Osobní odběr"]
          li.o-frequent__item
            a(href="#").o-frequent__link= instance

  main.o-qa
    .o-qa__top.l-wrap
      each instance in [1, 2]
        .o-qa__column
          h3.o-qa__head.t-head--six: +dummy(5, "words")
          ul.o-qa__anchors.o-list.o-list--big
            - var randomNumber = Math.ceil((Math.random() * 4))
            - var itemCount = 0
            while itemCount < randomNumber
              li.o-qa__anchor.o-list__item: a.o-qa__link(data-scrollto, href="#anchor-#{randomNumber}"): +dummy(10)
              - itemCount++
          h3.o-qa__head.t-head--six: +dummy(5, "words")
          ul.o-qa__anchors.o-list.o-list--big
            - itemCount = 0
            while itemCount < randomNumber
              li.o-qa__anchor.o-list__item: a.o-qa__link(data-scrollto, href="#anchor-#{randomNumber}"): +dummy(10)
              - itemCount++

    each instance in [1, 2, 3, 4]
      article.o-qa__topic.l-wrap
        h2.o-qa__subhead.t-head--one: +dummy(5, "words")
        dl.o-qa__entries
          each item in [1, 2, 3]
            dt.o-qa__entry(id="anchor-#{instance}")
              h3.o-qa__term.t-head--three
                +dummy(10)
            dd.o-qa__description
              - var randomNumber = Math.ceil((Math.random() * 2))
              - var paragraphCount = 0
              if item == 2
                img(src="http://unsplash.it/1440/900/?image=#{instance * 20 + 100}", alt="unsplash.it")
              while paragraphCount < randomNumber
                p
                  +dummy(item * (paragraphCount + 1) * 15)
                  | 
                  a(href="#"): +dummy(5)
                - paragraphCount++

  include partials/_stats

  include partials/_footer
