extends templates/_site

block template-content
  +header("stay", null)

  section.o-top.o-generic
    .o-generic__top.l-wrap
      h1.o-generic__head.t-head--one: +dummy(5, "words")
      p.o-generic__text.t-medium: +dummy(30)

    h2.o-generic__subhead.t-head--five: +dummy(5, "words")

    article.o-blox
      .o-blox__image(style="background-image: url('assets/images/photo_2.jpg')")
      .o-blox__content--black
        .o-blox__flex
          .o-blox__intro
            h3.t-head--five: +dummy(5, "words")
            p.t-medium: +dummy(20)
          .o-blox__outro
            p.t-text
              +dummy(15)
              | 
              a(href="#"): +dummy(5)
              | 
              +dummy(10)

    article.o-blox
      .o-blox__content--white
        .o-blox__flex
          .o-blox__intro
            h3.t-head--five: +dummy(5, "words")
            p.t-medium: +dummy(10)
          .o-blox__outro
            ul.o-list
              each instance in [1, 2, 3]
                li.o-list__item: +dummy(instance * 5)
            p.t-text
              +dummy(10)
              | 
              a(href="#"): +dummy(5)
              | 
              +dummy(5)
      .o-blox__image(style="background-image: url('assets/images/photo_3.jpg')")

  section.o-section--light.l-wrap
    h1.o-section__head--center.t-head--one Mohlo by Vás zajímat

    ul.o-triad
      each instance in ["Příběhy našich zákazníků", "Filozofie značky", "Nejčastější dotazy"]
        li.o-triad__item: a.o-triad__link.t-medium(href="#")= instance

  include partials/_stats

  include partials/_footer
