extends templates/_site

block template-content
  include partials/_header

  section.m-landing.o-hero
    .o-hero__content
      .o-hero__wrap.l-wrap
        h1.o-hero__title.t-head--one Jedinečnost, kvalita, preciznost.
        p.o-hero__text.t-big
          | Originální šperky vyrobeny tradičními zlatnickými postupy a&nbsp;pod dohledem zlatnického mistra 
          a.o-hero__link(href="#") Lubomíra Krčmáře
          | .
        a(href="#").o-hero__button.o-capsbutton
          span.t-caps Filozofie značky
          span.o-capsbutton__icon: include ../svg/chevron_right.svg

  section.m-selector.o-section
    .m-selector__wrap.l-wrap
      h1.o-section__head--center.t-head--one 25 let vyrábíme zlaté a&nbsp;stříbrné šperky
    .o-cats
      .o-cats__wrapper(data-slider)
        a(href="#", data-cat-item).o-cats__item
          .o-cats__icon: include ../svg/cat_ring.svg
          .o-cats__title Prsteny
        a(href="#", data-cat-item).o-cats__item
          .o-cats__icon: include ../svg/cat_earring.svg
          .o-cats__title Náušnice
        a(href="#", data-cat-item).o-cats__item
          .o-cats__icon: include ../svg/cat_pendant.svg
          .o-cats__title Přívěsky
        a(href="#", data-cat-item).o-cats__item
          .o-cats__icon: include ../svg/cat_set.svg
          .o-cats__title Soupravy
        a(href="#", data-cat-item).o-cats__item
          .o-cats__icon: include ../svg/cat_bracelet.svg
          .o-cats__title Náramky
        a(href="#", data-cat-item).o-cats__item
          .o-cats__icon: include ../svg/cat_necklace.svg
          .o-cats__title Náhrdelníky
        a(href="#", data-cat-item).o-cats__item
          .o-cats__icon: include ../svg/cat_chainlet.svg
          .o-cats__title Řetízky
        a(href="#", data-cat-item).o-cats__item
          .o-cats__icon: include ../svg/cat_wedding.svg
          .o-cats__title Snubní a zásnubní
        a(href="#", data-cat-item).o-cats__item
          .o-cats__icon: include ../svg/cat_male.svg
          .o-cats__title Pánské šperky
        a(href="#", data-cat-item).o-cats__item
          .o-cats__icon: include ../svg/cat_box.svg
          .o-cats__title Krabičky

    .o-featured
      .o-featured__list.l-wrap
        each instance in [1, 2, 3, 4, 5, 6]
          +productThumb(instance, "o-featured__item")
      a(href="#").o-fullbutton
        span.o-fullbutton__text Přejít do kategorie Prsteny
        span.o-fullbutton__icon: include ../svg/chevron_right.svg

  section.m-bespoke
    .m-bespoke__wrap.l-wrap
      .m-bespoke__content
        h1.o-section__head.t-head--one Katalogové i&nbsp;originální šperky na míru
        p.t-paragraph--light Jiná internetová zlatnictví šperky prodávají, my je vyrábíme. Šperky z&nbsp;katalogu si můžete objednat tak, jak je vidíte, na přání je upravíme na míru. Měnit lze cokoli &mdash; velikost, osazení kameny, zapínání, vždy můžete volit mezi zlatem a&nbsp;stříbrem. Zhotovíme i&nbsp;šperky podle vašeho návrhu a&nbsp;z&nbsp;vašeho zlata.
        a(href="#").m-bespoke__button.o-capsbutton
          span.t-caps Šperky na zakázku
          span.o-capsbutton__icon: include ../svg/chevron_right.svg

  section.m-reasons.l-wrap
    h1.o-section__head--center.t-head--one 7&nbsp;důvodů pro veneo

    ul.m-reasons__list
      li.m-reasons__item.t-term Originalita a&nbsp;jedinečnost
      li.m-reasons__item.t-term Kvalita a&nbsp;preciznost
      li.m-reasons__item.t-term Osobní přístup
      li.m-reasons__item.t-term Úpravy na přání 
      li.m-reasons__item.t-term Kamenná prodejna
      li.m-reasons__item.t-term Poštovné zdarma
      li.m-reasons__item.t-term Dárková krabička v&nbsp;ceně

    a(href="#").m-reasons__button.o-capsbutton
      span.t-caps Filozofie značky
      span.o-capsbutton__icon: include ../svg/chevron_right.svg

  include partials/_faq

  include partials/_stats

  include partials/_footer
