extends templates/_site

block template-content
  +header("fade", null)

  section.m-landing.o-hero
    .o-hero__content
      .o-hero__wrap.l-wrap
        h1.o-hero__title.t-head--one Jedinečnost, kvalita, preciznost.
        p.o-hero__text.t-big
          | Originální šperky vyrobeny tradičními zlatnickými postupy a&nbsp;pod dohledem zlatnického mistra 
          a.o-hero__link(href="generic-page.html") Lubomíra Krčmáře
          | .
        a(href="generic-page.html").o-hero__button.o-capsbutton.chevron--right
          span.o-capsbutton__text.t-caps Filozofie značky

  section.m-selector.o-section
    .m-selector__wrap.l-wrap
      h1.o-section__head--center.t-head--one 25 let vyrábíme zlaté a&nbsp;stříbrné šperky
    +catSelector("white")

    .o-featured.l-wrap
      .o-featured__list
        each instance in [1, 2, 3, 4, 5, 6]
          +productThumb(instance, "o-featured__item")
      .o-cta
        a(href="product-list.html").o-cta__button
          span.o-cta__text.chevron--right Přejít do kategorie Prsteny

  section.m-bespoke
    .m-bespoke__wrap.l-wrap
      .m-bespoke__content
        h1.o-section__head.t-head--one Katalogové i&nbsp;originální šperky na míru
        p.t-text--light Jiná internetová zlatnictví šperky prodávají, my je vyrábíme. Šperky z&nbsp;katalogu si můžete objednat tak, jak je vidíte, na přání je upravíme na míru. Měnit lze cokoli &mdash; velikost, osazení kameny, zapínání, vždy můžete volit mezi zlatem a&nbsp;stříbrem. Zhotovíme i&nbsp;šperky podle vašeho návrhu a&nbsp;z&nbsp;vašeho zlata.
        a(href="generic-page.html").m-bespoke__button.o-capsbutton.chevron--right
          span.o-capsbutton__text.t-caps Šperky na zakázku

  include partials/_reasons

  include partials/_faq

  include partials/_stats

  include partials/_footer
