@keyframes vFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pop {
  from {
    opacity: 0;
    transform: scale(.85) translateY(-10%);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes notify {
  0%, 100% {
    transform: translateY(-100%);
  }
  5%, 95% {
    transform: translateY(0);
  }
}
