// Disable scrolling
.pages--is-active {
  height: 100%;

  overflow-y: hidden;
}

.o-featured__item {
  @include media($phone) {
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }
  }
}
