$color1--300: hsb(235, 040, 080);
$color1--400: hsb(235, 060, 080);
$color1--500: hsb(235, 070, 085);
$color1--600: hsb(235, 050, 090);
$color1--700: hsb(235, 020, 095);

$color2--200: hsb(034, 036, 054);
$color2--300: hsb(034, 034, 065);
$color2--400: hsb(034, 032, 070);
$color2--500: hsb(034, 030, 080);
$color2--600: hsb(034, 028, 090);
$color2--700: hsb(034, 026, 095);
$color2--800: hsb(034, 002, 098);

$grey--000:   hsb(000, 000, 000);
$grey--100:   hsb(000, 000, 014);
$grey--200:   hsb(000, 000, 020);
$grey--300:   hsb(000, 000, 032);
$grey--400:   hsb(000, 000, 042);
$grey--500:   hsb(000, 000, 050);
$grey--600:   hsb(000, 000, 060);
$grey--700:   hsb(000, 000, 075);
$grey--800:   hsb(000, 000, 087);
$grey--850:   hsb(000, 000, 093);
$grey--900:   hsb(000, 000, 096);

$positive--400: hsb(079, 085, 065);
$positive--500: hsb(079, 065, 070);
$positive--550: hsb(079, 045, 085);
$positive--600: hsb(079, 025, 090);

$negative--500: hsb(049, 070, 085);

$color--silver:   $grey--500;
$color--gold:     $color2--400;
$color--platinum: $grey--700;
$color--rose:     hsb(017, 036, 096);

$color--silver-fade: $grey--700;
$color--gold-fade: $color2--500;

// Interactive
$c-link:         $color1--500;
$c-visited:      $c-link;

$c-hover:        $color1--600;
$c-active:       $c-hover;

$c-select__bg:   black;
$c-select__text: white;
