// Fonts.
$font__serif:            'Christel', serif;
$font__serif--medium:    500;
$font__serif--regular:   400;
$font__serif--light:     300;

$font__sans:             'Golden-Sans', sans-serif;
$font__sans--black:      700;
$font__sans--bold:       600;
$font__sans--medium:     500;
$font__sans--regular:    400;
$font__sans--light:      300;
$font__sans--ultralight: 200;
$font__sans--thin:       100;

// Defaults.
$default__size: 16;
$default__family: $font__sans;
$default__weight: $font__sans--regular;
$default__leading: $leading--b;
