$leading--b: 1.4;

$duration--s: .125s;
$duration--b: .25s;
$duration--m: .375s;
$duration--l: .5s;

$index--b: 1000;

$stroke--s: 1px;
$stroke--b: 2px;
$stroke--m: 3px;

$radius--s: 3px;
$radius--b: 4px;

$tracking--b: em(.5);
$tracking--l: em(1);

$width--m: 1000;
$width--l: 1200;

$shadow--1: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
$shadow--2: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
$shadow--3: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
