$leading--b: 1.4;

$duration--s: .125s;
$duration--b: .25s;
$duration--m: .375s;
$duration--l: .5s;

$index--b: 1000;

$stroke--s: 1px;
$stroke--b: 2px;
$stroke--m: 3px;

$radius--b: 4px;

$tracking--b: em(.5);
$tracking--l: em(1);
