.t-head--one {
  font-size: em(24);
  font-family: $font__serif;
  font-weight: $font__serif--medium;

  @include margin(1em null);

  @include media($tablet-up) {
    font-size: em(32);
  }
}
.t-head--two {
  font-size: rem(20);
  font-family: $font__serif;
  font-weight: $font__serif--medium;
}
.t-head--three {
  font-size: em(18);
  font-weight: $font__sans--regular;

  @include margin(1em null);
}
.t-head--four {
  font-size: em(16);
  font-weight: $font__sans--regular;

  @include margin(.5em null);
}
.t-head--five {
  font-size: em(20);
  font-family: $font__serif;
  font-weight: $font__serif--regular;

  @include margin(1em null);

  @include media($tablet-up) {
    font-size: em(24);
    font-weight: $font__serif--medium;

    @include margin(1.5em null);
  }
}
.t-head--six {
  font-weight: $font__sans--regular;
  font-size: em(24);

  @include margin(1em null);
}

.t-medium {
  font-size: em(18);

  @include media($laptop-up) {
    font-size: em(24);
    font-weight: $font__sans--light;
  }
}

.t-big {
  font-size: em(20);

  @include media($tablet-up) {
    font-size: em(24);
    font-weight: $font__sans--light;
  }

  @include media($laptop-up) {
    font-size: em(32);
  }
}

.t-price {
  font-size: em(20);
  font-family: $font__serif;
  font-weight: $font__serif--regular;

  @include media($large) {
    font-size: em(24);
  }
}
.t-term {
  font-size: em(24);
  font-weight: $font__sans--light;

  @include media($phablet-up) {
    font-size: em(36);
    font-weight: $font__sans--thin;
  }

  @include media($laptop-up) {
    font-size: em(48);
  }
}
.t-figure {
  font-weight: $font__sans--ultralight;
  font-size: 3.75em;
}
.t-quote {
  font-size: em(24);
  font-family: $font__serif;
  font-weight: $font__serif--light;
  font-style: italic;

  @include media($phablet-up) {
    font-size: em(32);
  }
}
.t-italic {
  font-size: em(20);
  font-family: $font__serif;
  font-weight: $font__serif--light;
  font-style: italic;

  @include media($large) {
    font-size: em(24);
  }
}

.t-small {
  font-size: rem(16);
  font-weight: $font__sans--regular;
}
.t-tiny {
  font-size: rem(14);
  font-weight: $font__sans--regular;
}

[class^="t-text"],
[class*=" t-text"] {
  font-size: rem(18);
}
.t-text--light {
  color: $grey--500;
}
.t-text--white {
  color: white;
}

.t-smallcaps {
  font-size: rem(14);
  font-weight: $font__sans--medium;

  text-transform: uppercase;
  letter-spacing: $tracking--l;
}
.t-caps {
  font-size: 1em;

  text-transform: uppercase;
  letter-spacing: $tracking--b;
}

.t-link--light {
  @include link--light;
  
  border-bottom: $stroke--s solid;
}
.t-link--white {
  @include link--white;

  border-bottom: $stroke--s solid;
}
.t-link--tan {
  &:link, &:visited {
    color: $color2--300;
    border-bottom-color: rgba($color2--300, .5);
  }
  &:hover, &:active {
    color: $color2--200;
    border-bottom-color: rgba($color2--200, .75);
  }

  border-bottom: $stroke--s solid;
}
