.m-reasons {
  text-align: center;
}

.m-reasons__list {
  position: relative;
  display: inline-block;

  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 2em;

  color: $grey--500;
  text-align: left;

  @include media($tablet-up) {
    max-width: em(900);

    margin-left: auto;
    margin-right: auto;

    // Hide line-break bullets
    &:before {
      content: "";

      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 10;

      width: 1.5rem;

      background-color: white;
    }
  }
}

.m-reasons__item {
  position: relative;

  &:before {
    content: "";

    display: inline-block;
    vertical-align: middle;

    margin-right: 1em;

    transform: rotate(45deg);

    @include size(.25rem);

    background-color: $grey--700;
  }

  @include media($tablet-up) {
    display: inline-block;

    &:before {
      @include margin(null .25em);
    }
  }
}

.m-reasons__button {
  display: block;

  text-align: center;
}
