.m-landing:after {
  background-image: url('../images/photo_1.jpg');
}

.m-selector__wrap {
  padding-bottom: 1em;

  @include media($handheld) {
    padding-bottom: 1.5em;
  }
  @include media($laptop-up) {
    padding-bottom: 2em;
  }
}

.m-pages-toggle {
  margin-left: -.5em;

  @include media($laptop-up) {
    display: none;
  }
}

.m-search-toggle {
  margin-right: -.5em
}
