.m-landing {
  position: relative;

  &:after {
    content: "";
    left: 0;
    top: 10%;
    bottom: 0;

    min-height: em(600);

    position: absolute;
    width: 100%;

    background: url("../images/photo_1.jpg") no-repeat center bottom / cover;

  }
}

.m-selector__wrap {
  padding-bottom: 1em;
}

.m-bespoke__image {
  width: 100%;
}

.m-reasons__list {
  list-style-type: none;
  padding-left: 0;
  @include margin(1.5em null);

  color: $grey--500;
}
.m-reasons__item {
  position: relative;

  padding-left: rem(26);

  &:before {
    content: "";

    display: inline-block;
    vertical-align: middle;

    position: absolute;
    left: 0;
    top: .625em; // Magic number

    transform: rotate(45deg);

    @include size(.25rem);

    background-color: $grey--700;
  }
}

.m-stats {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}
.m-stats__item {
  text-align: center;

  margin-bottom: 1em;

  &:last-child {
    margin-bottom: 0;
  }
}
.m-stats__content {
  color: $color2--500;

  line-height: 1;
}
.m-stats__logo {
  display: inline-block;

  vertical-align: bottom;

  margin-right: 1em;

}
.m-stats__figure {
  vertical-align: middle;
}
[class^="m-stats__shape"],
[class*=" m-stats__shape"] {
  display: inline-block;

  vertical-align: middle;
}
.m-stats__shape--left {
  margin-right: .5em;
}
.m-stats__shape--right {
  margin-left: .5em;
}
.m-stats__text {
  @include margin(.5em null 0);
}
