mixin header(type, activeItem)
  header#js-header.o-header(data-header, class="o-header--#{type}")
    .o-header__content
      a.o-header__logo.o-logo(href="index.html"): include ../../svg/logo_veneo_new.svg
      small.o-header__badge.t-smallcaps Lubomír Krčmář od r. 1991

      ul.o-shortcuts
        li.o-shortcuts__item
          a.o-shortcuts__link(href="#")
            span.o-shortcuts__icon: include ../../svg/icon_user.svg
            | Můj účet
        li.o-shortcuts__item
          a.o-shortcuts__link(href="order.html")
            span.o-shortcuts__icon: include ../../svg/icon_cart.svg
            | 2 ks v košíku
        li.o-shortcuts__item--half
          .o-shortcuts__holder
            select.o-shortcuts__select.t-caps
              option(selected) EN
              option CZ
        li.o-shortcuts__item--half
          .o-shortcuts__holder
            select.o-shortcuts__select.t-caps
              option(selected) CZK
              option USD
              option EUR

      .o-hud.l-inline
        .o-hud__cell.l-inline__cell
          button.m-pages-toggle.o-toggle(type="button", data-toggle="pages--is-active", data-pages)
            span.o-toggle__iconset
              span.o-toggle__icon--passive: include ../../svg/icon_menu.svg
              span.o-toggle__icon--active: include ../../svg/icon_close.svg
            span.o-toggle__textset
              span.o-toggle__text--passive Menu
              span.o-toggle__text--active Zavřít
          nav.o-pages
            ul.o-pages__list
              each link, instance in {"Naše šperky": "product-list.html", "Ruční výroba": "generic-page.html", "Šperky na zakázku": "generic-page.html", "Časté otázky": "faq.html", "Kontakty": "contact.html"}
                li.o-pages__item
                  a.o-pages__link(href=link, class=activeItem == instance ? "link--is-active" : null, data-close)= instance
        .o-hud__cell.l-inline__cell
          button.m-search-toggle.o-toggle(type="button", data-toggle="search--is-active", data-search)
            span.o-toggle__textset
              span.o-toggle__text--passive Hledat
              span.o-toggle__text--active Zavřít
            span.o-toggle__iconset
              span.o-toggle__icon--passive: include ../../svg/icon_search.svg
              span.o-toggle__icon--active: include ../../svg/icon_close.svg

    form.o-spotlight
      input.o-spotlight__input(type="search", placeholder="Napiště hledaný výraz")
      button.o-spotlight__submit(type="submit")
        span.o-spotlight__caption Hledat
        span.o-spotlight__icon: include ../../svg/arrow_right.svg

  button.o-dim(type="button", data-close)
