mixin input-dropdown(text)
  .o-dropdown
    select.o-dropdown__select
      option(selected)!= text
      option 51 (US 14&ndash;23 mm)
      option 52 (US 15&ndash;24 mm)
      option 53 (US 16&ndash;25 mm)
      option 54 (US 17&ndash;26 mm)
    span.o-dropdown__icon: include ../../svg/arrow_down.svg
